/* Add your styles here */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  /* transition: all 0.3s ease; */
}

nav ul li a:hover {
  color: #666;
}

section {
  padding: 20px;
  margin: 50px 0;
  background-color: #f9f9f9;
}

h2 {
  margin-top: 0;
}
#section1{height: 33rem; border: 1px solid;}
#section2{height: 33rem; border: 1px solid;}
#section3{height: 33rem; border: 1px solid;}