@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: aliceblue;
}
*{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  /* background-color: antiquewhite; */
}

.education{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Heading for the main education, not related to any card */
.edu-heading{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    padding-left: 10rem;
}

@media screen and (max-width: 600px) {
    .edu-heading {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust minmax values for smaller screens */
    }
  }

.edu-container{
    /* Grid layout */
    display: grid;
    width: 30rem;
    grid-template: 12rem 15rem 15rem / 20rem 20rem;
    gap: 1.5rem;
}

.mca{
    grid-area: 1/1/span 4/span 1;
}
.bsc{
    grid-area: 1/2/2/3;
} 
.xii{
    grid-area: 2/2/3/3;
}
.x{
    grid-area: 3/2/4/3;
} 

.coursework > li{
    padding-top: .7rem;
}
/* All css for salesforce educationset */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: .8rem;
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.1);
}
/*Styles the headings of each education*/
.header{
    padding: 0rem 1rem;
    font-weight: 600;
    text-align: center;
    height: 5rem;
}

.header > p{
    margin: 0;
    padding: 1rem 0rem 0rem 0rem;
}

/*Targets all the description inside the education cards*/
.desc{
    width: 12.5rem;
    padding: 0rem 1rem;
    /* text-align: left; */
}



/* To make text bolder  */
.bolder{font-weight: 600;}
